
.navigation__space {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 88.9vw;
    height: auto !important;
    background: white;
    padding: 10px;
}

.logo__ {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #F2F2F2;
    color: #A8A8A8;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 8px;
}

.text__ {
    margin-left: 25px;
    width: auto !important;
}

.container__ {
    display: flex;
    width: auto !important;
    background: white;
    height: auto !important;
    align-items: center;
    justify-content: center;
}

.nav__items {
    display: flex;  
    text-align: center;
    align-content: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 500px;
    height: auto !important;
    background: white;
    font-size: 20px;
    color: gray;
    font-family: sans-serif;
}


.bag__state {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    background: #D2D8E2;
    color:  #2766CC;
    padding: 0.59em 1em;
    border-radius: 2em;
    font-size: 18.5px;
}

#BagIcon__ {
    margin-right: 30px;
}

.login__page{
    display: inline-flex;
    flex-wrap: wrap;
    width: 90vw;
    border-top: 1px solid #D4D4D4;
}

.progress__login {
    width: 60vw;
    height: 100vh;
    border-right: 1px solid  #D4D4D4;
}

.bad__content {
    width: 30vw;
    height: 100vh;
}