* {
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: auto !important;
  overflow-x: hidden;
}
@media screen and (max-width: 768px) {
  .App {
    display: grid;
    width: 100vw;
  }
}