* {
  box-sizing: border-box;
}
.App {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
}
@media screen and (max-width: 768px) {
  .App {
    display: grid;
    width: 100vw;
  }
}